.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 100%;

  @media screen and (min-width: 30em) {
    flex-direction: row;
    justify-content: space-around;
  }
}

// .list
