@import "../../styles/_variables";

$v: calc(3 / 16 * 1rem);

.heading {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    width: 3.875rem;
    height: $v;
    background-color: $lake;
  }
}

.left {
  text-align: left;

  &::after {
    left: 0;
  }
}

.center {
  text-align: center;

  &::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
