.splash_rocket {
  width: 400px;
  z-index:2;
  margin: auto;
}

.splash_computer {
  width: auto;
  z-index: 1;
  margin-top: 110px;
  height: 300px;
}

.splash_parallax {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  padding-top: 100px;
}

.splash_parallax_background {
  width: auto;
}