.splash_rocket {
  width: 400px;
  z-index:2;
  margin: auto;
}

.splash_computer {
  width: auto;
  z-index: 1;
  margin-top: 10px;
  height: 300px;
}

.splash_parallax {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  padding-top: 100px;
}

.splash_parallax_background {
  width: auto;
}

.scrollIcon,
.scrollIcon:before {
	position: absolute;
	left: 50%;
}

.scrollIcon {
	width: 20px;
	height: 35px;
	margin-left: -10px;
	// top: 50%;
	margin-top: 50px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
}

.scrollIcon:before {
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	margin-left: -2px;
	top: 8px;
	border-radius: 4px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@-moz-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(16px);
	}
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(16px);
	}
}

@-o-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(16px);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(16px);
	}
}