@import "./_variables";

.wrapper {
  width: 100%;
  background: $gray0;
  color: $gray3;
}

.contents {
  @include flexpagewidth();
  padding: 80px 80px 110px;
  @include largescreensizer();
  @media (max-width: 1200px) {
    justify-content: center;
    padding-bottom: 80px;
  }
}

.left {
  padding: 0 20px;
  width: 350px;
  h2 {
    margin: 30px 0;
    font-size: $font-lg;
    font-weight: 300;
  }
  h3 {
    color: $lightblue;
    font-size: $font-default;
    font-weight: bold;
  }
  p {
    font-size: $font-default;
    line-height: 22px;
    margin-bottom: 18px;
  }
  @media (max-width: 1200px) {
    width: 100%;
  }
}

a {
  display:inline-block;
  width:100%;
  height:100%;
}

.learnmore {
  margin: 18px 0;
  width: 100%;
  height: 42px;
  font-weight: bold;
  @include bluebutton();

  @media (max-width: 768px) {
    margin-top: 50px;
    width: 120px;
  }
}

.right {
  display: flex;
  position: relative;
  width: 685px;
  .circle {
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .mobilewrapper {
      margin: 0 auto;
      padding-left: 30px;
    }
    .block {
      height: 714px;
    }
    width: 100%;
  }
}
